<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Home page</h1>
    <p>Welcome to the dynamic HTML lab starter.</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/list-users">List users</a></li>
    </ul>
</body>
</html>
